/*Base Element Styles */

* {
  box-sizing: border-box;
}

:root,
body {
 
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Merriweather', serif;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  font-size: 14px;
}

header {
  background-color: #2D3945;
  margin: auto;
  padding: 25px;
}

header h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

p {
  color: gray;
  text-align: center;
}

hr {
  border: none;
  border-top: 8px double #333;
  padding-bottom: 10px;
}

:focus {
  outline: -webkit-focus-ring-color 0;
}

fieldset {
  border: 0px;
}

legend {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  background-color: #EFF0F1;
  line-height: 3;
  border-radius: 5px;
  border: 1px solid #EFF0F1;
  margin: 10px 0;
  width: 100%;
}

::placeholder {
  text-align: right;
  font-style: italic;
  padding-right: 20px;
  color: #46698B;
}

label {
  color: gray;
}

select[name="user_state"] {
  padding: 13px;
  margin: 10px 0;
  color: gray;
}

#hr2 {
  border: none;
  border-top: 2px solid #333;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 10px;
}

textarea {
  padding: 30px;
  background-color: #EFF0F1;
  border-radius: 5px;
  border: 0;
  width: 100%;
}

.newsletter-type,
.newsletter-format {
  padding-bottom: 15px;
}

label[for="other_topics"] {
  margin-bottom: 15px;
}

.btn {
  cursor: pointer;
  width: 100%;
  color: #fff;
  background-color: #4EBBB5;
  border: 0px;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  font-weight: bold;
}

footer {
  color: gray;
  font-style: italic;
  text-align: center; 
  font-weight: bold;
  font-size: 12px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Pseudo Classes -------- */

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
border: 2px solid #46698B;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  font-weight: bold;
}

/* Media Queries: Mobile ----- */

@media (min-width: 320px) {

  p {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
  }


}


/* Media Queries: Desktop ----- */

@media (min-width: 768px) {


form {
  width: 80%;
  margin: auto;
  justify-content: center;
  flex-direction: row;
}

.contact-information {
  display: flex;
  
}

.form-field {
  display: flex;
  flex-wrap: wrap;
}

.form-field > label {
  flex-basis: 20%;
}

input,
select {
  flex-basis: 70%;
  flex-grow: 1;
}

.newsletter-type,
.newsletter-format {
  width: 60%;
}


}